.body {
  background-image: url(images/uwp951531.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.iletişim_konular {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 80px;
}
.Gönder_button {
  padding-left: 10px;
}
.Anasayfa_button {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.HaftalıkDreslerTablosu {
  font-family: Arial, Helvetica, sans-serif;
}
